body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    color: orchid;
}
.orange-color{
    color: purple;
}
.first-half{
    width: 50%;
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img{
    width: 100%;
}
section{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, skyblue);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: royalblue;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.second-half img{
    width: 80%;
    
}
.second-half{
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-right: 5%;
    padding-right: 2%
}
.purple-color{
    color: slateblue;
}
#dream-big{
    background-image: url(images/exp-bg2.png);
    background-repeat: no-repeat;
    background-position: right;
    
}