body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    color: orchid;
}
.orange-color{
    color: purple;
}
.first-half{
    width: 50%;
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img{
    width: 100%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, skyblue);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: royalblue;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-half img{
    width: 80%;
    
}
.second-half{
    width: 80%;
    float: left;
    margin-top: 50px;
    margin-right: 5%;
    padding-right: 2%
}
.purple-color{
    color: slateblue;
}
#dream-big{
    background-image: url(images/exp-bg2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
   color: blueviolet; 
   margin-left: 5%;
   margin-right: 5%;
}
.experience-area div{
    box-shadow: 5px 7px 40px gray;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
    width: 35%;
    margin-top: 20px;
    margin-left: 5%;
    padding-left: 2%;
}
#baby-web{
    border-right: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    width: 35%;
    float: right;
    margin-right: 5%;
    padding-right: 2%;
}
footer p{
    text-align: center;
}