body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    color: orchid;
}
.orange-color{
    color: purple;
}
.first-half{
    width: 50%;
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img{
    width: 100%;
}
section{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, skyblue);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: royalblue;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}